*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.admin_image{
   width: 100%;
   object-fit: contain;
}
.logo{
   width: 7%;
   height: 7%; 
}
body{
   overflow-x: hidden;
}
.product_image{
   width: 10%;
   object-fit: contain;
}